/* MAIN STRUCTURE */
:root {
  --mainColor: #ff7f00;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto Slab, serif;
  color: white;
}

#div-background {
  background-blend-mode: multiply;
  background: url(../assets/img/codificacion.svg);
  background-color: #30343a;
  background-size: 25px;
  display: block;
  /* filter: blur(1px);
    -webkit-filter: blur(2px); */
  height: 100%;
  left: 0;
  border: 0px;
  margin: 0px;
  padding: 0%;
  position: fixed;
  right: 0;
  z-index: -1;
}

/* TOP MENU */
#logo img {
  width: 200px;
  margin: 1rem 2rem;
  padding: 10px;
}
nav {
  display: flex;
}

.navbar-menu {
  margin-left: auto;
}
.navbar-menu ul {
  font-size: 30px;
  display: inline-block;
  padding: 10px;
  margin: 30px;
}
.navbar-menu ul li {
  display: inline-block;
  margin: 0%;
  padding: 0px;
}

li a {
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 10px 0px;
  color: var(--mainColor);
  padding: 10px;
  text-decoration: none;
  transition: background-size 0.2s;
  font-size: xx-large;
}

a:hover {
  background-size: 10px 50px;
  color: black;
}

/* HEADER */

#div-header {
  width: 100%;
  /* background: grey; */
  /* height: 500px; */
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

#div-header img {
  border-radius: 50%;
  width: 15%;
  /* background: blue; */
}

#header-text {
  font-size: 40px;
  padding: 30px;
  margin: 2rem;
  /* background: red; */
}

h1 {
  font-family: Spartan;
  color: var(--mainColor);
  font-size: 90px;
  text-shadow: 0 0 25px black;
}

/* SECTION 1 : Hello World */

#div-container {
  background: #1e1e1e;
  display: flex;
  max-width: 100%;

  text-align: center;
  justify-content: center;
}

#div-section1 {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#img-section1 {
  margin: 1rem 2rem;
  /* margin-right: 10px; */
  width: 500px;
  padding: 2rem;
  text-align: justify;
}
#text-section1 {
  width: 80%;
  font-size: 20px;
  padding: 2rem 5rem;
  text-align: jus;
  align-self: center;
}

#text-section1 h1 {
  font-size: 50px;
  color: var(--mainColor);
  text-shadow: 0 0 black;
}
/* SECTION 2: Skills */

#skills {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  /* filter: opacity(20%); */
  /* background: var(--mainColor); */
}
#div-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills h1 {
  margin: 2rem;
  text-align: center;
  font-size: 70px;
  color: var(--mainColor);
  text-shadow: 0 0 black;
}

#skills ul {
  width: 65%;
  margin-top: 20px;
  position: relative;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#skills ul li {
  list-style: none;
  padding: 10px;
  margin: 0 15px;
}

#skills ul li a {
  display: block;
  width: 160px;
  height: 160px;
  text-align: center;
  /* line-height: 63px; */
  /* background: #333; */
  border-radius: 50%;
  font-size: 100px;
  color: var(--mainColor);
  transition: 0.5s;
}

#skills ul li a::before {
  content: "";

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--mainColor);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

#skills ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 25px white;
}
#div-css {
  display: none;
}

#skills ul li #fa-html5:hover {
  color: black;
  background-size: 10px 90%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-css3:hover {
  color: black;
  background-size: 10px 90%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-js:hover {
  color: black;
  background-size: 10px 30%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-database:hover {
  color: black;
  background-size: 10px 20%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-linux:hover {
  color: black;
  background-size: 10px 40%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-react:hover {
  color: black;
  background-size: 10px 0%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-git:hover {
  color: black;
  background-size: 10px 70%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-wp:hover {
  color: black;
  background-size: 10px 80%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-java:hover {
  color: black;
  background-size: 10px 95%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-docker:hover {
  color: black;
  background-size: 10px 10%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

#skills ul li #fa-node:hover {
  color: black;
  background-size: 10px 20%;
  box-shadow: 0 0 60px white;
  text-shadow: 0 0 5px white;
}

/* SECTION 3 : Work */
/* SECTION 4 : Contact */


#contact {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
  /* margin: 10px; */
  background: #1e1e1e;
  text-align: center;
}
#contact-h1 {

  text-align: center;
  padding: 2rem;
  font-size: 70px;
  color: var(--mainColor);
  text-shadow: 0 0 black;
  /* margin: 10px; */
  background: #1e1e1e;
  text-align: center;
}
#social{
  font-size: 30px;
  flex-grow: 0.5;
  /* margin-right: auto; */
  /* padding-left: 50px; */
  /* background: red; */
}

#social img{
width: 70px;
padding: 10px;
margin-top: 6rem;
margin-bottom: 4rem;
}
#text-form{
  font-size: 30px;
  margin-bottom: 2rem;
}
#contact-form{
  /* padding-right: 150px; */
  /* background: blue; */
  flex-grow: 0.5;

}

#contact form input {
  border-radius: 5px;
  width: 500px;
  text-align: center;
  background: transparent;
  color: var(--mainColor);
  font-size: 15px;
  margin: 10px;
  border-color: var(--mainColor);

  font-family: Roboto Slab;
}
#contact form textarea {
  border-radius: 5px;
  width: 500px;
  height: 100px;
  resize: none;
  font-size: 15px;
  margin: 10px;

  background: transparent;
  color: var(--mainColor);
  border-color: var(--mainColor);
  font-family: Roboto Slab;
}

/* FOOTER */

footer {
  background: #161616;
  /* position: fixed; */
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1rem;
  text-align: center;
}
